body {
background-color: lightgreen;
}

h1, h2 {
text-align: center;
}

img{
    width:25%;
    height:50%;
}
.underline {
text-decoration: underline;
}

.centered {
text-align: center;
}

a {
text-decoration: none;
}


nav ul {
text-align: center;
list-style-type: none;
margin: 20px;
padding: 0;
cursor: default;
}

nav ul li {
display: inline-block;
}

nav a {
color: white;
background-color: black;
padding: 15px;
}

div.like, div.info, div.work-info, div.education-info {
background-color: grey;
border: 2px solid white;
padding: 25px;
font-size: 32px;
}

div.contact {
background-color: grey;
border: 2px solid white;
padding: 25px;
font-size: 32px;
}

div.contact .infoname {
background-color: #5bd746;
border: 2px solid black;
margin: 20px;
}

div.contact .infovalue {
background-color: #cad746;
border: 2px solid black;
margin: 20px;
}
div.like img {
max-height: auto;
max-width: 50%;
margin: auto;
text-align: center;
}

ol.like {
font-size: 32px;
}
