-/*SITI FARHANA BINTI MOHAMMAD TAJUDDIN (25/5/2021)*/

body
{
	font-color: white;
	font-family: Roboto, Arial, sans-serif;
}

.container 
{
	align-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	height: 250px;
	display: flex;
	color: white;
}

.centered 
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 50px
}

div
{
	padding: 10px;
	columns: 2;
	display: grid;
	column-width: 10px 5px;
	text-align: left;
}

fieldset
{
	background-color: rgb(214, 234, 248);
	border-spacing: 10px;
	margin: 10px;
}

legend
{
	background-color: #1c87c9;
	border-spacing: 10px;	
}

label
{
	font-color:black; 
}

input
{
	width: 100%;
	border-style:solid;
	border-width: 2px;
	border-color: #43D1AF; 
}

textarea
{

	display: inline-block;
	width: 100%;
	border-style:solid;
	border-width: 2px;
	border-color: #43D1AF; 
}


input[type="submit"], input[type="reset"]
{
	color: #1abc9c;
	font-color: white;
	font-size: 16px;
	width: 150px;
	border-radius: 5px;
	border-spacing: 10px;
	
}
