body{
  padding: 10px;
  font-family: arial, verdana, sans-serif;
}

.cal {
  width: 100%;
}

.text {
  text-align: center;
}

form{
  margin: auto;
  width: 50%;

}

input[type=text]{
  width: 100%;
  height: 30px; 
}

input[type=number]{
  width: 100%;
  height: 30px; 
}

input[type=submit]{
  width: 100px;
  height: 40px;
  background-color: #DCDCDC;
}

button{
  width: 100px;
  height: 40px;
  background-color: #DCDCDC;
}
